<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}"/>
    <meta charset="UTF-8">
    <title>被审单位管理</title>
</head>
<style>
    a{text-decoration: none}
</style>

<script>
    $(function () {
        $('#dgs').datagrid({loadFilter: pagerFilter}).datagrid('loadData', getData());

        // $('#dgs').datagrid({
        //     onSelect:function (rowIndex,rowData) {
        //         alert(rowData.auditedId)
        //         $.ajax({
        //             url:'seleusers?auditedId='+rowData.auditedId,
        //             type:'get',
        //             success:function (data) {
        //                 $("#tab1").datagrid('loadData',data);
        //             }
        //         });
        //     }
        // });
    })

    function onSelect() {
        var row=$("#dgs").datagrid('getSelected');
        $.ajax({
            url:'seleusers?auditedId='+row.auditedId,
            type:'post',
            dataType:"json",
            success:function (data) {
                alert(data)
                $("#tab1").datagrid('loadData',data);
            }
        })
    }

    function getData(){
        var rows = [];
        for(var i=1; i<=800; i++){
            var amount = Math.floor(Math.random()*1000);
            var price = Math.floor(Math.random()*1000);
            rows.push({
                inv: 'Inv No '+i,
                date: $.fn.datebox.defaults.formatter(new Date()),
                name: 'Name '+i,
                amount: amount,
                price: price,
                cost: amount*price,
                note: 'Note '+i
            });
        }
        return rows;
    }
    function pagerFilter(data){
        if (typeof data.length == 'number' && typeof data.splice == 'function'){	// is array
            data = {
                total: data.length,
                rows: data
            }
        }
        var dg = $(this);
        var opts = dg.datagrid('options');
        var pager = dg.datagrid('getPager');
        pager.pagination({
            onSelectPage:function(pageNum, pageSize){
                opts.pageNumber = pageNum;
                opts.pageSize = pageSize;
                pager.pagination('refresh',{
                    pageNumber:pageNum,
                    pageSize:pageSize
                });
                dg.datagrid('loadData',data);
            }
        });
        if (!data.originalRows){
            data.originalRows = (data.rows);
        }
        var start = (opts.pageNumber-1)*parseInt(opts.pageSize);
        var end = start + parseInt(opts.pageSize);
        data.rows = (data.originalRows.slice(start, end));
        return data;
    }
   function selectson(id) {
       $.ajax({
           url:'sons?preId='+id,
           type:'get',
           success:function (data) {
               $("#dgs").datagrid('loadData',data);
           }
       })
   }
   function bus() {
       var businuss=$("#se  option:selected").val();
       $.ajax({
           url:'sons?auditedBusiness='+businuss,
           type:'get',
           success:function (data) {
               $("#dgs").datagrid('loadData',data);
           }
       })
   }
</script>
<body>
<div class="easyui-layout" style="width: 100%;height: 800px;">
    <div data-options="region:'west',title:'被审计机构用户',split:true" style="width:230px;" >
        <form>
        <div style="width: 100%;height: 30px;background: rgba(0, 0, 255, 0.1)">
        业务类型:<select style="width: 150px;height: 30px;" id="se" th:onchange="bus()">
                <option>请选择业务类型</option>
                <option  th:each="s:${auditeds}" th:text="${s.auditedBusiness}"></option>
               </select>
        </div>
        <div id="ad" style="background: rgba(0, 0, 255, 0.1)">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:addDialog()">增加</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="javascript:ayo()">删除</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="javascript:addDialog1()">编辑</a>
        </div>
        <div id="tree">
            <ul class="easyui-tree">
                <li>
                    <span>直属部门</span>
                    <ul th:each="s:${auditeds}">
                        <li>
                            <a href="javascript:void(0)" id="name" th:text="${s.auditedName}" th:onclick="selectson([[${s.auditedId}]])"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        </form>
    </div>
<div data-options="region:'center',title:'详细信息'" style="padding:5px;" >
         <table id="dgs" class="easyui-datagrid" toolbar="#ad" pagination="true" style="width:100%;height: 370px;"
         data-options="url:'all',singleSelect:true,onSelect:onSelect">
             <thead>
             <tr>
                 <th field="auditedName" width="16%">机构名称</th>
                 <th field="auditedBusiness" width="16%">部门开展业务</th>
                 <th field="auditedBeforetime" width="16%">上次稽核时间</th>
                 <th field="auditedCreatetime" width="17%">成立时间</th>
                 <th field="auditedAccounting" width="17%">财务帐套</th>
                 <th field="auditedCreditCode" width="17%">使用柜台编码</th>
             </tr>
             </thead>
         </table>
        <table id="tab1" class="easyui-datagrid" pagination="true" rownumbers="true" toolbar="#p" style="width:100%;height: 370px;">
            <thead>
            <tr>
                <th field="uUsercode" width="20%">用户名</th>
                <th field="uUsername" width="20%">姓名</th>
                <th field="uEmail" width="20%">邮箱</th>
                <th field="uPhone" width="20%">电话</th>
                <th field="state" width="20%">状态</th>
            </tr>
            </thead>
        </table>
        <div id="win" class="easyui-dialog" style="width:400px;padding: 20px;"
             iconCls="icon-add" data-options="title:'增加被审机构',modal:true,closed:true">
            <form id="" method="post" novalidate>
                <div style="margin-bottom:10px">
                    <input class="easyui-textbox" label="编码:" required="true" style="width:100%"></input>
                </div>
                <div style="margin-bottom:10px">
                    <input class="easyui-textbox" label="名称:"  required="true" validType="email" style="width:100%"></input>
                </div>
                <div style="margin-bottom:10px">
                    <input class="easyui-datetimespinner" label="成立时间:" required="true" style="width:100%"></input>
                </div>
                <div style="margin-bottom:10px">
                    <input class="easyui-combo" label="部门开展业务:" required="true" style="width:100%"></input>
                </div>
                <div style="margin-bottom:10px">
                    <input class="easyui-datetimespinner" label="上次稽核时间:" required="true" style="width:100%"></input>
                </div>
                <div style="margin-bottom:10px">
                    <input class="easyui-combo" label="营业部等级:" required="true" style="width:100%"></input>
                </div>
                <div style="margin-bottom:10px">
                    <input class="easyui-textbox" label="信用柜台编码:" required="true" style="width:100%"></input>
                </div>
                <div style="margin-bottom:10px">
                    <input class="easyui-textbox" label="财务帐套:" required="true" style="width:100%"></input>
                </div>
                <div style="text-align:right">
                    <input class="easyui-linkbutton" type="submit" value="保存" style="width:80px;height:30px">
                    <input class="easyui-linkbutton" type="reset" value="取消" style="width:80px;height:30px">
                </div>

            </form>
        </div>
</div>
    <div id="p" style="padding: 3px;">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="javascript:alert('增加')">增加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="javascript:alert('增加')">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="javascript:alert('增加')">编辑</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-use" plain="true" onclick="javascript:alert('增加')">使用</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reset" plain="true" onclick="javascript:alert('增加')">重置密码</a>
        <input align="right" class="easyui-searchbox" data-options="prompt:'Please input somthing'" style="width:200px"></input>
    </div>
    </div>
</div>
</body>
</html>