<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>操作日志</title>
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}"/>
</head>
<script>
    $(function () {
        $('#dg').datagrid({loadFilter: pagerFilter}).datagrid('loadData', getData());
    })
    function getData(){
        var rows = [];
        for(var i=1; i<=800; i++){
            var amount = Math.floor(Math.random()*1000);
            var price = Math.floor(Math.random()*1000);
            rows.push({
                inv: 'Inv No '+i,
                date: $.fn.datebox.defaults.formatter(new Date()),
                name: 'Name '+i,
                amount: amount,
                price: price,
                cost: amount*price,
                note: 'Note '+i
            });
        }
        return rows;
    }
    function pagerFilter(data){
        if (typeof data.length == 'number' && typeof data.splice == 'function'){	// is array
            data = {
                total: data.length,
                rows: data
            }
        }
        var dg = $(this);
        var opts = dg.datagrid('options');
        var pager = dg.datagrid('getPager');
        pager.pagination({
            onSelectPage:function(pageNum, pageSize){
                opts.pageNumber = pageNum;
                opts.pageSize = pageSize;
                pager.pagination('refresh',{
                    pageNumber:pageNum,
                    pageSize:pageSize
                });
                dg.datagrid('loadData',data);
            }
        });
        if (!data.originalRows){
            data.originalRows = (data.rows);
        }
        var start = (opts.pageNumber-1)*parseInt(opts.pageSize);
        var end = start + parseInt(opts.pageSize);
        data.rows = (data.originalRows.slice(start, end));
        return data;
    }

    function gaosearch() {
        $("#win").window('open');
    }

    function searchall() {
        $("#form").form({
            url:'findby',
            success:function (data) {
                if(data!=null){
                    $("#dg").datagrid('loadData',data);
                }
                if(null==data){
                    alert("抱歉，没有您要查询的数据");
                }
            }
        });
        $("#form").submit();
    }
</script>
<body>
    <div id="p" >
        <!--<input id="con" type="text" placeholder="请输入关键字"  style="width:200px">-->
        <!--<input class="easyui-searchbox" data-options="prompt:'Please input somthing'" style="width:200px"></input>-->
        <!--<a id="btn" href="javascript:search()" class="easyui-linkbutton" data-options="iconCls:'icon-search'"></a>-->
        <form id="form" method="post">
                <table >
                    <tr>
                        <td>用户：</td>
                        <td><input type="text" name="lName" width="100px"/></td>
                        <td>用户所在机构：</td>
                        <td><input type="text" name="lDept" width="100px"/></td>
                        <td>模块：</td>
                        <td><input type="text" name="lMk" width="100px"/></td>
                        <td>操作日期：</td>
                        <td><input type="date" name="lTime" width="100px"/>-<input name="eTime" type="date" width="100px"/></td>
                    </tr>
                    <tr>
                        <td colspan="8" align="center">
                            <a id="save" href="javascript:searchall();" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a id="reset" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-reset'">重置</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a id="cancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    <table class="easyui-datagrid" id="dg"  toolbar="#p"
           data-options="url:'logs',
           fitColumns:true,
           pagination:true,
           pageSize:10,
           singleSelect:true,
           autoRowHeight:true"
           style="width: 100%;">
        <thead>
        <tr>
            <th data-options="field:'lName',width:'16.4%'">操作人</th>
            <th data-options="field:'lTime',width:'16.5%'">操作时间</th>
            <th data-options="field:'lDept',width:'17%'">操作单位</th>
            <th data-options="field:'lMk',width:'17%'">模块</th>
            <th data-options="field:'lType',width:'17%'">操作类型</th>
            <th data-options="field:'lInfo',width:'17%'">操作内容</th>
        </tr>
        </thead>
    </table>
</body>
</html>