<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}"/>
    <meta charset="UTF-8">
    <title>数据获取</title>
</head>
<body>
<script th:inline="javascript">
    function sousuo(){
        var tauditpoints = $("#tauditpoints").val();
        var tcode = $("#tcode").val();
        $.ajax({
            url:"sousuobycodeandaudit",
            dataType:"json",
            data:{tauditpoints:tauditpoints,tcode:tcode},
            type:"post",
            success:function(data){
                $("#taskdatagrid").datagrid("loadData",data)
            }
        })
    }
    function chongzuo(){
        var obj = $("#taskdatagrid").datagrid("getSelected");
        var id = obj.tId;
        var name = obj.tName;
        var tAuditpoints = obj.tAuditpoints;
        var tCode = obj.tCode;
        $.messager.confirm("系统提示","确定要重做吗？？？",function(data){
            if(data==true){
                $.ajax({
                    url:"chongzuo",
                    dataType:"json",
                    data:{id:id,name:name,tAuditpoints:tAuditpoints,tCode:tCode},
                    type:"post",
                    success:function(data){
                        $("#taskdatagrid").datagrid("reload");
                    }
                })
            }
        })
    }
</script>
<div id="search">
    审计编号:<input id="tauditpoints" style="line-height:26px;border:1px solid #ccc;text-align: center;" placeholder="输入关键字搜索">
    审计要点:<input id="tcode" style="line-height:26px;border:1px solid #ccc;text-align: center;" placeholder="输入关键字搜索">
    <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="sousuo()">搜索</a>
</div>
<table id="taskdatagrid" class="easyui-datagrid" toolbar="#filetool" style="height: 600px;width: 100%" data-options="url:'chouqu',fitColumns:true,singleSelect:true" pagination="true">
    <thead>
    <tr style="background: #00aff0">
        <th data-options="field:'tAuditpoints'" style="width:20%;">审计编号</th>
        <th data-options="field:'tCode'" style="width:20%;">审计要点</th>
        <th data-options="field:'tName'" style="width:20%;">稽核人员</th>
        <th data-options="field:'tState'" style="width: 20%;">处理状态</th></tr>
    </thead>
</table>
<div id="filetool">
    <button class="easyui-linkbutton" data-options="" onclick="chongzuo()">重做</button>
</div>
</body>
</html>