<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>审计方案</title>
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}">
</head>
<body>
<script th:inline="javascript">
    $(function(){
        $("#prorol tr").slice(1,2).remove();//删除tablea 下面的指定的id为多少的tr
        var zhushen1 = [];
        var zs1 = [];
        var zhushenpq1 = [];
        var zspq1 = [];
        var zhushenrole1 = [[${session.p.zhushenrole}]];
        var zsrole1 = [[${session.p.zsrole}]];
        var zhushens = [[${session.p.zhushen}]];
        var zss = [[${session.p.zs}]];
        var zhushenpqpq = [[${session.p.zhushenpqualification}]];
        var zspqpq = [[${session.p.zspqualification}]];
        zhushenpq1 = zhushenpqpq.split("|");
        zspq1 = zspqpq.split("|");
        zhushen1 = zhushens.split(",");//将主审人员通过，分割给数组 然后通过下标一个一个展示出来
        zs1 = zss.split(",");
        for(var i = 0;i<zhushen1.length;i++) {
            $("#prorol").append("<tr><td  style='height: 30px;'>"+zhushen1[i]+"</td><td>"+zhushenrole1+"</td><td>"+zhushenpq1[i]+"</td></tr>")
        }
        for(var j = 0;j<zs1.length;j++){
            $("#prorol").append("<tr><td  style='height: 30px;'>"+zs1[j]+"</td><td>"+zsrole1+"</td><td>"+zspq1[j]+"</td></tr>")
        }
    })
</script>
<div style="width: 100%;">
    <div style="background-color: #6ab8f7;border: 1px solid black;width: 900px;height:30px;margin: 0 auto;">基本信息</div>
        <div style="margin:0 auto;text-align:center;width: 900px;height: 180px;border: 1px solid black">
            <div style="margin-top:15px;font-size: 16px;">
                <input type="text" id="projectid" th:value="${session.a.ppId}" hidden>
                项目名称：<input type="text" style="height: 30px;background-color: lightsteelblue" th:value="${session.a.ppName}">
                项目编号：<input type="text" style="height: 30px;background-color: lightsteelblue" th:value="${session.a.ppId}">
                项目类型：<input type="text" style="height: 30px;background-color: lightsteelblue" th:value="${session.a.ppType}"><br>
                <div style="margin-top: 15px;">
                    <span>被审计机构：<input type="text" style="width: 262px;height: 30px;background-color: lightsteelblue" th:value="${session.a.ppAudited}"></span>
                    <span style="margin-left: 50px;">具体被审计机构：<input type="text" style="width: 262px;height: 30px;background-color: lightsteelblue" th:value="${session.a.ppSpecific}"></span>
                </div>
                <div style="margin-top: 15px;">
                    <span style="margin-right: 33px;">审计期间起：<input type="text" style="width: 262px;height: 30px;background-color: lightsteelblue" th:value="${session.a.ppStarttime}"></span>
                    <span style="margin-left: 50px;">审计期间止：<input type="text" style="width: 262px;height: 30px;background-color: lightsteelblue" th:value="${session.a.ppEndstart}"></span>
                </div>
            </div>
        </div>
    <div style="margin-top: 20px;">
            <div style="text-align:center;width: 425px;height: 200px;border: 1px solid black;margin-left: 225px;float: left;">
                <div style="background-color: #6ab8f7;border: 1px solid black;width: 425px;height:30px">项目成员<button onclick="bianjirole()">编辑</button></div>
                <div>
                    <table id="prorol" border="1px" style="width: 400px;margin: 0 auto;margin-top: 10px;">
                        <tr>
                            <td width="33%">姓名</td>
                            <td width="33%">角色</td>
                            <td width="33%">人员姿质</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div style="text-align:center;width: 425px;height: 200px;border: 1px solid black;margin-left:50px;float: left;">
                <div style="background-color: #6ab8f7;border: 1px solid black;width: 425px;height:30px">任务分配<button onclick="bianjirenwu()">编辑</button></div>
                <div>
                    <table border="1px" style="width: 400px;margin: 0 auto;margin-top: 10px;">
                        <tr>
                            <td width="50%">姓名</td>
                            <td width="50%">检查项</td>
                        </tr>
                        <tr th:each="t:${session.t}">
                            <td style="height: 30px;" th:text="${t.tName}"></td>
                            <td th:text="${t.tCode}"></td>
                        </tr>
                    </table>
                </div>
            </div>
    </div>
</div>
<div style="margin-top: 20px;width: 1000px;text-align: right;">
    <button class="btn-info" style="margin-right: 20px;" onclick="baocun()">保存</button><button class="btn-info">取消</button><button class="btn-info"  style="margin-left: 20px;" onclick="tijiaoshenhe()">提交审核</button>
</div>
<div id="bianjirole" class="easyui-dialog" title="编辑角色" style="width:1280px;height:680px;padding: 30px;"
     data-options="resizable:true,modal:true,closed:true,top:50">
    <iframe name="shengjiiframe" id="bianjiroleiframe" scrolling="auto" frameborder="0" style="width:100%;height:650px;"></iframe>
</div>
<div id="bianjirenwu" class="easyui-dialog" title="编辑任务" style="width:1280px;height:680px;padding: 30px;"
     data-options="resizable:true,modal:true,closed:true,top:50">
    <iframe name="shengjiiframe" id="bianjirenwuiframe" scrolling="auto" frameborder="0" style="width:100%;height:650px;"></iframe>
</div>
<script th:inline="javascript">
    function bianjirenwu(){
        var url = "totask1";
        $("#bianjirenwuiframe").attr("src",url);
        $("#bianjirenwu").dialog("open");
    }
    function bianjirole(){
        var ppid = [[${session.a.ppId}]];
        var ppjd = [[${session.a.ppJd}]];
        var url = "torole1?ppid="+ppid+"&ppjd="+ppjd;
        $("#bianjiroleiframe").attr("src",url);
        $("#bianjirole").dialog("open");
    }
    var fanganid = "";
    function baocun(){
        var id = $("#projectid").val();
        var des = $("#des").val();
        $.ajax({
            url:"savafangan",
            dataType:"json",
            type:"post",
            data:{id:id,des:des},
            success:function(data){
                fanganid=data.fId;
                alert("保存成功");
        }
        })
    }
    function tijiaoshenhe(){
        var sendpeople = [[${session.a.ppCreatepeople}]];
        $.ajax({
            url:"tijiaoshenhe",
            dataType:"json",
            data:{fanganid:fanganid,sendpeople:sendpeople},
            type:"post",
            success:function(data){
                alert("提交审核成功");
            }
        })
    }
</script>
</body>
</html>