<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>角色分配</title>
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}"/>
</head>
<body>
<script>
    function next() {
        $("#next").dialog('open');
    }
    // $(function(){
    //     var ppid = window.parent.ppid;
    //     $("#feidg").datagrid({
    //         url:"feixianchang?ppid="+ppid,
    //     })
    // })
</script>
<div style="height: 500px;">
    <form>
        项目批次时间：<input type="date" id="starttime"/> ———————— <input type="date" id="endtime"> <input type="submit" value="查询">
    </form>
    非现场阶段
    <table id="feidg" class="easyui-datagrid" data-options="fitColumns:true" style="width: 100%;height: 245px;" th:if="${session.o.ppJd =='非现场阶段'}">
        <thead>
        <tr>
            <th data-options="field:'ppName',width:'16%'" id="name">项目名称</th>
            <th data-options="field:'ppAudited',width:'16%'">被审计机构</th>
            <th data-options="field:'ppZhushen',width:'17%'">主审</th>
            <th data-options="field:'ppZhushenrole',width:'17%'">主审角色</th>
            <th data-options="field:'ppZs',width:'17%'">助审</th>
            <th data-options="field:'ppZszrole',width:'17%'">助审角色</th>
        </tr>
        </thead>
    </table><br><br>
    现场阶段
    <table class="easyui-datagrid" data-options="fitColumns:true" style="width: 100%;height: 245px;" th:if="${session.o.ppJd=='现场阶段'}">
        <thead>
        <tr>
            <th data-options="field:'ppName',width:'16%'">项目名称</th>
            <th data-options="field:'ppAudited',width:'16%'">被审计阶段</th>
            <th data-options="field:'ppZhushen',width:'17%'">主审</th>
            <th data-options="field:'ppZhushenrole',width:'17%'">主审角色</th>
            <th data-options="field:'ppZs',width:'17%'">助审</th>
            <th data-options="field:'ppZszrole',width:'17%'">助审角色</th>
        </tr>
        </thead>
    </table>
    <input type="button" value="下一步" onclick="next()">
</div>
<div id="next" class="easyui-dialog" title="My Dialog" style="width:500px;height:400px;padding: 30px;"
     data-options="resizable:true,modal:true,closed:true">
    <table class="easyui-datagrid" data-options="fitColumns:true" style="width: 400px;height: 300px;">
        <thead>
        <tr>
            <th data-options="field:'code',checkbox:true"></th>
            <th data-options="field:'name',width:'33%'">人员</th>
            <th data-options="field:'name',width:'33%'">角色</th>
            <th data-options="field:'name',width:'33%'">人员资质</th>
        </tr>
        </thead>
    </table>
    <input type="button" value="保存"> <input type="button" value="取消">
</div>
</body>
</html>