<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>审计计划项目</title>
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}"/>
</head>
<body>
    <div id="p">
        <a id="edit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'">增加</a>
        <a id="stop" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">编辑</a>
        <a id="in" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-delete'">删除</a>
        <a id="submit" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-submit'">提交审核</a>
        <a id="scan" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-in'">生成</a>
    </div>
<table class="easyui-datagrid" toolbar="#p" id="dg1" data-options="pagination:true" style="width: 100%" >
    <thead>
    <tr>
        <th data-options="field:'price',checkbox:true"></th>
        <th data-options="field:'code',width:'10%'">项目名称</th>
        <th data-options="field:'name',width:'10%'">审计机构</th>
        <th data-options="field:'d',width:'10%'">被审计机构</th>
        <th data-options="field:'c',width:'10%'">具体被审计机构</th>
        <th data-options="field:'v',width:'10%'">项目类型</th>
        <th data-options="field:'f',width:'10%'">创建人</th>
        <th data-options="field:'r',width:'10%'">创建日期</th>
        <th data-options="field:'b',width:'9%'">主审</th>
        <th data-options="field:'b',width:'9%'">助审</th>
        <th data-options="field:'b',width:'9%'">项目生成人</th>
    </tr>
    </thead>
</table>
</body>
</html>