<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}"/>
</head>
<body>
<script th:inline="javascript">
    function formatterDate(date) {
        //得到日期并转换
        var oDate = new Date(date),
            oYear = oDate.getFullYear(),
            oMonth = oDate.getMonth() + 1,
            oDay = oDate.getDate(),
            oHour = oDate.getHours(),
            oMin = oDate.getMinutes(),
            oSen = oDate.getSeconds(),
            oTime = oYear + '-' + getzf(oMonth) + '-' + getzf(oDay) + ' ' + getzf(oHour) + ':'
                + getzf(oMin) + ':' + getzf(oSen);// 最后拼接时间
        return oTime;
    };
    //补0操作
    //传进来的值大于10就返回原值  如果小于10 那么就需要在前面补个0  因为都是两位数 不补0的话会导致当你是小于10的数的时候  只展示出了一位数  这样就可以展示两位数 不管你的值是多少
    function getzf(num) {
        if (parseInt(num) < 10) {
            num = '0' + num;
        }
        return num;
    }
    function creatuser(value,row,index){
        var n=$.ajax({
            url:"selectnamebyuserid",
            async:false,
            data:{id:value},
            type:"post",
        })
        var name = n.responseText;
        return name;
    }
    //easyui datagrid  单击事件
    function ClickRow(rowIndex, rowData){
        var tb = $("#table");
        $.ajax({
            url:"selectbypId",
            dataType:"json",
            data:{pId:rowData.pId},
            type:"post",
            success:function(data){
                // var code ="<tr id='a'><th>类型</th><th>项目总数</th><th>开展中个数</th><th>完成个数</th><th>完成占比</th></tr>";
                // code+="<tr id='a'><th>年度计划</th><th>"+data.list.length+"</th><th></th><th></th><th></th></tr>"
                // code+="<tr id='a'><th>新增计划</th><th>"+data.list.length+"</th></tr>"
                // alert(code)
                // tb.append(code);
                var ndjh = 0;
                var akz = 0;
                var awanc = 0;
                var abi = 0;
                //循环传来的list  list是auditprojectplan的集合  所以循环list 点出里面的auditPlan 在点出里面的pType 这样的话就找到了每个项目的审计计划的的类型
                for(var i =0;i<data.list.length;i++) {
                    if (data.list[i].auditPlan.pType == "年度计划") {//通过查到的项目点出他所属于的审计计划然后再点出该审计计划类型  等于就是这个项目的类型
                        ndjh++;
                        if (data.list[i].ppState == "编辑中") {
                            akz++;
                        }
                        if (data.list[i].ppState == "已结项") {
                            awanc++;
                        }
                    }
                }
                if(awanc==0){
                    abi=0;
                }else{
                    abi=awanc/ndjh;
                }
                $("#abi").text(abi);
                $("#a").text(ndjh);
                $("#akz").text(akz);
                $("#awanc").text(awanc);
                var xzjh = 0;
                var bkz = 0;
                var bwanc = 0;
                var bbi = 0;
                for(var j =0;j<data.list.length;j++) {
                    if (data.list[j].auditPlan.pType == "asd") {//判断项目所属于的计划是不是指定类型 如果是就在给指定类型的项目数量加一
                        xzjh++;
                        if (data.list[j].ppState == "编辑中") {//判断阶段是不是在开展中 如果是则开展中的项目数量+1
                            bkz++;
                        }
                        if (data.list[j].ppState == "已结项") {//判断阶段是不是已完成 如果是则已完成的项目数量+1
                            bwanc++;
                        }
                    }
                }
                if(bwanc==0){
                   bbi=0;
                }else{
                    bbi=bwanc/xzjh;
                }
                $("#bbi").text(bbi);
                $("#b").text(xzjh);
                $("#bkz").text(bkz);
                $("#bwanc").text(bwanc);
            }
        })
    }
    //通过pnd查到指定年度的审计计划  然后loaddata给datagrid
    function selectbypnd(){
        var pnd = $("#pnd").val();
        $.ajax({
            url:"selectbypnd",
            dataType: "json",
            data:{pnd:pnd},
            type:"post",
            success:function(data){
                $("#dg1").datagrid("loadData",data);
            }
        })
    }
    var  url="";
    function addauditplan(){
        $("#fm").form("clear")
       $("#dlg").dialog("open");
        url="addauditplan";
    }
    function saveup(){
        $.ajax({
            url:url,
            obSubmit:function(){
                return $(this).form("validate");
            },
            success:function(data){
                if(data) {
                    alert("添加成功")
                    $("#dg1").datagrid("reload");
                    $("#dlg").dialog("close");
                }else{
                    alert("添加失败")
                }
            }
        })
    }
    //双击事件  双击的时候传此审计计划的id传到后台 然后在后台 查到此计划下面所有的项目  然后传到前台来
    function DblClickRow(rowIndex, rowData){
                location.href="auditplantoauditproject?pId="+rowData.pId;
    }
</script>
    <div style="margin-left: 500px;">
        计划年度：
        <select style="width: 150px;" id="pnd">
            <div th:each="list:${session.list1}">
            <option th:text="${list.pNd}"></option>
            </div>
        </select><br>
        <div style="padding: 20px;">
            <button id="search" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" th:onclick="selectbypnd()">搜索</button>
            <a id="reset" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reset'">重置</a>
        </div>
    </div>
<div id="dlg" class="easyui-dialog" style="width: 400px;height: auto;margin: 0 auto" data-options="buttons:'#btn',closed:true">
    <form id="fm" method="post">
        计划年度:
        <select id="niandu">
            <option></option>
        </select><br>
        计划类型:
        <select id="ptype">
            <option></option>
        </select><br>
        计划名称:<textarea name="pname" style="width: 300px;" ></textarea><br>
    </form>
</div>
<div id="btn">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="saveup()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="closeWin()">关闭</a>
</div>
    <div id="tool">
        <a id="add" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" th:onclick="addauditplan()">增加</a>
        <a href="#" data-options="iconCls:'icon-hammer'">年度计划确认</a>
    </div>
    <table class="easyui-datagrid" toolbar="#tool" id="dg1"
           data-options="url:'selectAllAuditPlan',singleSelect:true,pagination:true,fitColumns:true,onClickRow:ClickRow,onDblClickRow:DblClickRow" style="width: 100%;height: 500px;" >
        <thead>
        <tr>
            <th data-options="field:'pNd',width:'10%'">计划年度</th>
            <th data-options="field:'pName',width:'14%'">计划名称</th>
            <th data-options="field:'pJigouname',width:'14%'">审计机构</th>
            <th data-options="field:'pType',width:'14%'">计划类型</th>
            <th data-options="field:'pState',width:'14%'">计划状态</th>
            <th data-options="field:'uId',width:'14%'" formatter="creatuser">创建人</th>
            <th data-options="field:'pTime',width:'14%',formatter:formatterDate">创建时间</th>
        </tr>
        </thead>
    </table>
<div style="width: 100%;height: 200px;%;">
    <table id="table" border="1px;" style="width: 100%;height: 200px;">
        <tr><th>类型</th><th>项目总数</th><th>开展中个数</th><th>完成个数</th><th>完成占比</th></tr>
        <tr><th>年度计划</th><th id="a"></th><th id="akz"></th><th id="awanc"></th><th id="abi"></th></tr>
        <tr><th>新增计划</th><th id="b"></th><th id="bkz"></th><th id="bwanc"></th><th id="bbi"></th></tr>
    </table>
</div>
<table>
</table>
</body>
</html>