<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/vendor/linearicons/style.css}">
	<link rel="stylesheet" th:href="@{/vendor/chartist/css/chartist-custom.css}">
	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{/css/main.css}">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" th:href="@{/css/demo.css}">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{/img/favicon.png}">

	<link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}"/>

	<script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
</head>

<body>
<script>
    function addTab(title, url){
        if ($('#tab').tabs('exists', title)){
            $('#tab').tabs('select', title);
        } else {
            var content = '<iframe scrolling="auto" frameborder="0"  src="'+url+'" style="width:100%;height:100%;"></iframe>';
            $('#tab').tabs('add',{
                title:title,
                content:content,
                closable:true
            });
        }
    }
</script>
<div id="cc" class="easyui-layout" style="height: 800px;">
	<div data-options="region:'north',title:'West',split:true" >
		<!-- NAVBAR -->
		<nav  class="navbar navbar-default navbar-fixed-top" style="height: 80px;">
			<div class="brand">
				<a href="roleindex"><img th:src="@{/img/logo-dark.png}" alt="首页" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" class="notification-item"><span class="dot bg-warning"></span>修改信息</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>查看个人信息</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" class="notification-item"><span class="dot bg-success"></span>注销</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div data-options="region:'west'" style="padding:5px;width: 220px;background-color:black" >
		<div id="sidebar-nav" class="sidebar" >
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>工作台</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="javascript:addTab('待办事项','todolist');" >待办事项</a></li>
									<li><a href="javascript:addTab('已审批事项','approved');" class="">已审批事项</a></li>
									<li><a href="javascript:addTab('我的消息','message');" class="">我的消息</a></li>
									<li><a href="javascript:addTab('我的文件','directory');" class="">我的文件</a></li>
								</ul>
							</div>
						</li>
						<li><a href="javascript:void(0)" onclick="addTab('用户管理','useradmin')"><i class="lnr lnr-cog"></i> <span>用户管理</span></a></li>
						<li><a href="javascript:void(0)" onclick="addTab('角色管理','')"><i class="lnr lnr-alarm"></i> <span>角色管理</span></a></li>
						<li><a href="javascript:void(0)" onclick="addTab('属性管理','propertymanage')"><i class="lnr lnr-text-format"></i> <span>属性管理</span></a></li>
						<li><a href="javascript:void(0)" onclick="addTab('属性设置','propertyset')"><i class="lnr lnr-linearicons"></i> <span>属性设置</span></a></li>
						<li><a href="javascript:void(0)" onclick="addTab('流程定义','processdefine')"><i class="lnr lnr-alarm"></i> <span>流程定义</span></a></li>
						<li><a href="javascript:void(0)" onclick="addTab('审计知识库管理','auditlib')"><i class="lnr lnr-alarm"></i> <span>审计知识库管理</span></a></li>
						<li><a href="javascript:void(0)" onclick="addTab('工作日志','worklog')"><i class="lnr lnr-alarm"></i> <span>工作日志</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div data-options="region:'center'" style="padding:0px;">
		<div id="tab" class="easyui-tabs" style="width: 100%;height:732px;"></div>
	</div>
</div>
<!-- WRAPPER -->
	<!--<div id="wrapper">-->

		<!--&lt;!&ndash; END NAVBAR &ndash;&gt;-->
		<!--&lt;!&ndash; LEFT SIDEBAR &ndash;&gt;-->


		<footer>
			<div class="container-fluid">
				<p class="copyright">Copyright &copy; 2019.Company name All rights reserved.</p>
			</div>
		</footer>
	<!--</div>-->
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js}"></script>
	<script th:src="@{/vendor/chartist/js/chartist.min.js}"></script>
	<script th:src="@{/scripts/klorofil-common.js}"></script>

</body>

</html>
